<!--Info privacidad-->
<section class="privacidad">
    <h1>Política de Privacidad y Cookies</h1>

    <p>Última actualización: Noviembre 2025</p>
    <p>En Aaru &copy; nos comprometemos a proteger tu información</p>

    <h2>DATOS QUE RECOPILAMOS</h2>
    <ul>
        <li>Nombre y apellido</li>
        <li>Correo electrónico</li>
        <li>Número de telefono</li>
        <li>Drrección de envío</li>
        <li>Preferencia de tallas</li>
        <li>Metodos de pago</li>
    </ul>

    <h2>FINALIDAD DEL TRATAMIENTO</h2>
        <p>Utilizamos tus datos para procesar pedidos, enviar confirmaciones, mejorar
            tu experiencia y cumplir con obligaciones legales.
        </p>

    <h2>CONSENTIMIENTO</h2>
        <p>Al realizar una compra o navegar por nuestro sitio, aceptas nuestra política y autorizas el tratamiento de tus datos conforme a los fines descritos.</p>

    <h2>DERECHOS DEL USUARIO</h2>
        <p>Puedes acceder, rectificar o eliminar tus datos escribiendo a <strong>info@aarujoyeria.com</strong>. También puedes oponerte al tratamiento o solicitar la portabilidad.</p>


    <h2>POLÍTICA DE COOKIES</h2>
        <p>Este sitio utiliza cookies para mejorar la navegación, recordar preferencias y analizar el tráfico.</p>
        <h3>TIPOS DE COOKIES</h3>
          <ul>
            <li><strong>Técnicas:</strong> necesarias para el funcionamiento básico.</li>
            <li><strong>Preferencias:</strong> recuerdan tu talla o idioma.</li>
            <li><strong>Analíticas:</strong> nos ayudan a entender cómo navegas (Google Analytics).</li>
         </ul>
         <h3>GESTION DE COOKIES</h3>
         <p>Puedes configurar tu navegador para bloquear o eliminar cookies. Al continuar navegando, aceptas su uso.</p>

    <h2>SEGURIDAD</h2>
        <p>Utilizamos cifrado SSL y medidas técnicas para proteger tus datos frente a accesos no autorizados.</p>

    <h2>CAMBIOS EN LA POLÍTICA</h2>
        <p>Nos reservamos el derecho de modificar esta política. Te recomendamos revisarla periódicamente.</p>

      <footer class="privacidad-footer">
    <a routerLink="/" class="btn btn-outline-gold">Volver al inicio</a>
  </footer>
</section>
