<!-- Página de términos-->
<section class="info-page">
  <h1>Términos y Condiciones</h1>
  <p>Al realizar una compra en Aaru Joyería, aceptas nuestras condiciones:</p>
  <ul>
    <li>📜 Garantía de 3 años en todas nuestras joyas</li>
    <li>🔐 Pago 100% seguro con cifrado SSL</li>
    <li>🛍️ Política de devoluciones clara y accesible</li>
    <li>📦 Envíos rápidos y seguimiento en tiempo real</li>
  </ul>
  <p>Consulta también nuestra <a routerLink="/privacidad">Política de privacidad y Cookies</a>
</section>
